:root{
    --left-prm: #181C14;
    --right-prm: #ECDFCC;
  }
.left-pane{
    background-color: var(--left-prm);
    color: var(--right-prm);
    flex: 1;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;  
}



.input-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  width: 70%;
  overflow: auto;
}


.personal-details-container, .skills-container, .education-contianer, .work-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
}


.name-container{
  display: flex;
  gap: 2rem;
}
.nav-buttons-container{
  width: 90%;
  display: flex;
  gap: 2rem;
}
.nav-buttons-container > *{
  flex: 1;
}

.education-contianer > ul > li, .education-contianer > ul,.work-container > ul > li, .work-container > ul   {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}